<div class="containerList">
  <div class="row">
      <div class="col-md-3">
          <div class="card" >
              <div class="card-header">
                  Exercises
              </div>
              <ul class="list-group list-group-flush"  >
                <li id="exercise" *ngFor="let x of me.exercises; index as i" 
                    class="list-group-item" style="background-color: #6C5A89"
                    
                    >
                    {{x.text}}

                    
                    <input type="number" class="form-control" id="calories" value="0" [(ngModel)]="calories">
                    <label for="calories">calories</label>
                    <div class="button" type="button" (click)="submitExercise($event, x, i,calories)">Submit</div>
                </li>



                
            </ul>
          </div>                  
      </div>
      <div class="col-md-9">
          <div class="card" >
              <div class="card-body">
                  <div class="card" >
                          <div class="card-header">
                             Completed Exercises
                          </div>
                          <ul class="list-group list-group-flush" id="completed-exercises">
                              <li *ngFor="let x of me.completed" class="list-group-item">
                                {{x.text}} 
                                <span class="badge">{{x.calories}} calories</span>
                            </li>
                          </ul>
                  </div>

              </div>
          </div>           
      </div>
  </div>                
</div>