<div class="container">
            <div class="jumbotron">
                <h3>Welcome to Fit U</h3>
                <p>Get your fitness back on track</p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <img class="card-img-top" src="download.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Signup</h4>
                            <p class="card-text">Join the program and get your fitness back on track.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4">
                        <div class="card" >
                                <img class="card-img-top" src="download.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Memberships</h4>
                                    <p class="card-text">We offer a wide varienty of memeberships fit for everyone. Fit for U! Available memberships include: Free, Student, and Premium</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            
                </div>
                <div class="col-md-4">
                        <div class="card" >
                                <img class="card-img-top" src="download.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Blog</h4>
                                    <p class="card-text">Hear real life testimonials about people who use FitU and actually have seen results.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                    
                </div>
            </div>                
        </div>